.org-details-card {
    .labels {
        display: inline-block;
        width: 120px;
        color: #4E5969;
        padding: 6px 0;
    }
    .value {
        margin-left: 10px;
        color: #1D2129;
        padding: 6px 0;
    }
}