.search-form {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
}
.org-name-card {
  .labels {
    font-size: 14px;
    color: #1D2129;
  }
  .value {
    font-size: 12px;
    color: #86909C;
    margin-left: 20px;
  }
}
.org-tree-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  .org-tree-container {
    background: transparent;
  }
  .org-tree-node-label-inner {
    background: transparent;
    padding: 0 !important;
    box-shadow: none !important;
  }
  .org-tree-content {
    padding: 10px 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 8px 8px;
    border: 1px solid transparent;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    .name {
      cursor: pointer;
    }
  }
  .org-tree-content-active {
    border: 1px solid #FF7D00;
  }
}
