.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../../../assets/meetingBg.png') no-repeat center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 5px 0;
  height: 30px;

  img {
    width: 40px;
    height: 18px;
  }
}
.content {
  position: relative;

  box-sizing: border-box;
  width: 375px;
  height: 100%;
  // min-height: 645px;
  max-height: 724px;
  margin: auto;
  padding: 0 20px;
  background: #f3f3f4;
  border-radius: 6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.topContent {
  padding: 0 12px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
  .meetingTitle {
    position: relative;
    display: -webkit-box;
    box-sizing: border-box;
    padding: 30px 12px 0;
    overflow: hidden;
    color: #000;
    font-size: 20px;
    font-family: PingFangSC-Medium, Microsoft YaHei;
    line-height: 26px;
    letter-spacing: 0;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-box-orient: vertical;
  }
  .meetingNum {
    padding: 16px 0;
  }
}

.actions {
  margin: 20px 0;
  text-align: center;
}

.meetingTime {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail_meeting_left {
  position: absolute;
  top: 3px;
  left: 0px;
  .detail_meeting_start_time {
    text-align: left;
  }
}

.detail_meeting_start_time {
  display: block;
  color: #000;
  font-size: 28px;
  font-family: PingFangSC-Medium, Microsoft YaHei;
  line-height: 28px;
}
.detail_meeting_start_date {
  display: inline-block;
  margin-top: 8px;
  color: #000;
  font-size: 12px;
  line-height: 12px;
}
.detail_meeting_duration_container {
  text-align: center;
}

.detail_meeting_duration_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  margin-top: 13px;
  margin-bottom: 4px;
  padding: 2px;
  color: #4e5461;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  // 其他样式
  border-radius: 2px;
}

.detail_short_gray_line {
  width: 24px;
  height: 1px;
  margin-bottom: 0;
  // 其他样式
  background: #d3d6db;
  border-radius: 0;
}

.detail_meeting_duration {
  // 其他样式
  display: inline-block;
  margin: 0 6px;
  padding: 0 6px;
  color: #000;
  background: #f3f3f4;
  background-color: #f3f3f4;
  border: 1px solid transparent;
  border-radius: 4px;
}

.detail_meeting_timezone {
  // 其他样式
  display: inline-block;
  max-width: 113px;
  height: 12px;
  overflow: hidden;
  color: #939699;
  font-size: 10px;
  font-family: PingFangSC-Regular;
  line-height: 12px;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
}

.detail_meeting_time_right_container {
  position: absolute;
  top: 3px;
  // 其他样式
  right: 0px;
  .detail_meeting_start_time {
    text-align: right;
  }
}

.meetingHost {
  display: flex;
  flex-direction: row;
}
.met_avatar {
  width: 42px;
  min-width: 42px;
  height: 42px;
  margin-right: 8px;
  margin-bottom: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(65, 97, 152, 0.12);
}
.met_info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow: hidden;
}
.met_name {
  color: #4e5461;
  font-weight: 400;
  font-size: 12px;
  font-family: PingFang SC;
  font-style: normal;
  line-height: 20px;
}

.text1 {
  box-sizing: border-box;
  color: #7b818f;
  font-size: 12px;
  line-height: 40px;
  letter-spacing: 0;
  background: transparent;
  .text2 {
    color: #06f;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
  }
}

.divider {
  color: #7b818f !important;
  font-size: 14px !important;
}
.fixedBottom {
  position: absolute; // 使用绝对定位
  bottom: 0; // 固定在父容器（.content）的底部
  left: 0;
  width: 100%; // 占满父容器宽度
  padding: 16px;
}
.copyIcon {
  position: relative;
  top: -1.5px;
  font-size: 14.5px;
}

:where(.css-dev-only-do-not-override-nqoqt9).ant-typography .ant-typography-copy {
  font-size: 30px !important;
}
